<launch>
    <node pkg="controller_pkg"
    type="runmodel.py"
    name="runmodel"
    output="screen">
    </node>
    <node pkg="controller_pkg"
    type="timer.py"
    name="timer"
    output="screen">
    </node>
    <node pkg="controller_pkg"
    type="sift.py"
    name="sift"
    output="screen">   
    </node>
    <node pkg="controller_pkg"
    type="crosswalk.py"
    name="crosswalk"
    output="screen">   
    </node>
</launch>