<launch>
    <node pkg="controller_pkg"
    type="sift.py"
    name="sift"
    output="screen">   
    </node>
    <node pkg="controller_pkg"
    type="sift2.py"
    name="sift2"
    output="screen">   
    </node>
    <node pkg="controller_pkg"
    type="sift3.py"
    name="sift3"
    output="screen">   
    </node>
    <node pkg="controller_pkg"
    type="sift4.py"
    name="sift4"
    output="screen">   
    </node>
</launch>
